.menuContainer {
  background-color: #fff;
  padding: 20px;
}

.addCategoryContainer,
.addTableContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.addButton {
  /* background-color: #27ae60; */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.addItemContainer,
.addTableContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addTableContainer{
  border: 1px solid rgb(78, 78, 78);
  border-radius: 8px;
  padding: 10px;
  width: 35vw;
  height: fit-content;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.menuImage {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.tableList {
  list-style: none;
  padding: 0;
}

.tableItem {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}